@import "./base.css";

#app {
  max-width: 720px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

.text-field {
  outline: none;

  padding: 8px 12px;

  border: 1px solid var(--color-border);
  border-radius: 4px;

  color: var(--color-text);
  background-color: var(--vt-c-black-mute);

  transition: 0.2s background-color ease, 0.2s opacity ease;
}

.text-field:disabled {
  opacity: 0.5;
  transition: 0.2s opacity ease;
}

.text-field:not(:disabled):hover {
  background-color: var(--vt-c-divider-dark-2);
  transition: 0.2s background-color ease;
}

.text-field:focus {
  background-color: var(--vt-c-divider-dark-1);
  transition: 0.2s background-color ease;
}
